<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="org.fish.chat.chat.service.impl.MessageServiceImpl">
    </bean>

    <bean id="qosService" class="org.fish.chat.mqtt.qos.impl.QosServiceRedisImpl">
        <property name="fishCacheRedis" ref="fishCacheRedis"/>
    </bean>

    <bean id="userChatService" class="org.fish.chat.chat.service.impl.UserChatServiceImpl">
        <property name="userSessionService" ref="userSessionService" />
        <property name="mqttService" ref="mqttServiceQosProxy" />
        <property name="chatFilter" ref="chatFilterChain" />
        <property name="deliverService" ref="mqttDeliverService"/>
    </bean>

    <bean id="chatSystemService" class="org.fish.chat.chat.service.impl.ChatSystemServiceImpl">
        <property name="userChatService" ref="userChatService" />
        <property name="messageService" ref="messageService"/>
    </bean>

    <bean id="userSessionService" class="org.fish.chat.chat.service.impl.UserSessionServiceSyncImpl">
        <property name="fishCacheRedis" ref="fishCacheRedis"/>
    </bean>


</beans>