<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService" class="org.fish.chat.chat.service.impl.MessageServiceImpl">
    </bean>


    <bean id="chatSystemService" class="org.fish.chat.chat.service.impl.SystemChatServiceImpl">
        <property name="userChatService" ref="userChatService" />
        <property name="messageService" ref="messageService"/>
    </bean>



</beans>