<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="chatFilterChain" class="org.fish.chat.chat.filter.ChatFilterChain">
        <property name="chain">
            <list>
                <ref bean="antispamFilter"/>
                <ref bean="syncMessageFilter" />
                <ref bean="persistenceFilter" />
            </list>
        </property>
    </bean>

    <bean id="antispamFilter" class="org.fish.chat.chat.filter.impl.AntispamFilter">
    </bean>

    <bean id="syncMessageFilter" class="org.fish.chat.chat.filter.impl.SyncMessageFilter">
        <property name="userSessionService" ref="userSessionService" />
        <property name="userChatService" ref="userChatService" />
    </bean>

    <bean id="persistenceFilter" class="org.fish.chat.chat.filter.impl.PersistenceFilter">
    </bean>

</beans>
