<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="propertyConfigurer"
		class="cn.techwolf.common.configloader.ConfigLoaderPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:config/*.properties</value>
				<value>classpath*:conf/*.properties</value>
			</list>
		</property>
	</bean>

	<bean id="server" class="org.fish.chat.mqtt.broker.MqttServer">
		<constructor-arg value="${mqtt.server.port}" />
		<property name="mqttDispatcherHandler" ref="mqttDispatcherHandler" />
		<property name="channelSessionManager" ref="channelSessionManager" />
	</bean>

</beans>